@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+IT+Moderna:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+IT+Moderna:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+IT+Moderna:wght@100..400&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(images/ccc05b5ce2a6191c9237fc630f6aa869.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: auto;
  background-position: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.logo {
  color: white;
  font-size: 30px;
  font-family: Tagesschrift;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 15px 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li :hover {
  color: rgb(64, 123, 123);
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.05s);
  transform: scaleY(1.5s);
}
h2 {
  text-align: center;
  margin: 10px 10px;
  color: white;
  font-family: Playwrite IT Moderna;
}

h1 {
  font-size: 20px;
  color: white;
  text-align: center;
  font-family: Playwrite IT Moderna;
}

hr {
  margin: 40px 40px;
}

founded {
  text-align: center;
  padding-left: 40px;
  margin-right: 40px;
}

#list ul li {
  color: white;
  text-align: center;
  font-family: IBM Plex Serif;
  font-size: 15px;
}

p {
  color: white;
  text-align: center;
  font-family: IBM Plex Serif;
  font-size: 15px;
}
